<div class="row container-fluid mt-3 ml-1" >
  <div class="col-2"></div>
  <div class="card text-center register col-lg-8 " style="background: #ffffff !important;   border: 5px lightgreen solid;">
    <div class=" text-center mt-2">
      <h2>Create new House</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="createForm" (ngSubmit)="createHouse()" class="form-group">
        <div class="text-left">
          <label>House's Name</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="nameHouse" placeholder="Input your house name...">
        </div>
        <div class="text-left">
          <label>House Category</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="categoryHouse" placeholder="Type of house ....">
        </div>
        <div class="text-left">
          <label>Room Category</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="categoryRoom"
                 placeholder="Type of room ....">
        </div>
        <div class="text-left">
          <label>Address</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="address"
                 placeholder="Address ....">
        </div>
        <div class="text-left">
          <label>Amount Bathroom</label>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" formControlName="amountBathRoom"
                 placeholder="Bathrooms ....">
        </div>
        <div class="text-left">
          <label>Amount Bedroom</label>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" formControlName="amountBedRoom"
                 placeholder="Bedrooms ....">
        </div>
        <div class="text-left">
          <label>Price</label>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" formControlName="price"
                 placeholder="Price ....">
        </div>
        <div class="text-left">
          <label>Description</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="description"
                 placeholder="Description ....">
        </div>
        <div class="text-left">
          <label>Image Link</label>
        </div>
        <div class="form-group">
<!--          <input type="text" class="form-control" ngModel name="imgUrls"-->
<!--                 placeholder="Image Link ....">-->
          <input type="file" class="form-control" (change)="saveImg($event)">
        </div>
        <input type="submit" class="btn btn-success mr-2" value="Create">
        <button type="button" class="btn btn-warning " routerLink="">Cancel</button>
      </form>
    </div>
  </div>
</div>
