<div class="row container-fluid mt-3 ml-1">
  <div class="col-2"></div>
  <div class="card text-center register col-lg-8 " style="background: lightgoldenrodyellow !important;">
    <div class=" text-center mt-2">
      <h2>Create new House</h2>
    </div>
    <div class="card-body">
      <form #houseForm="ngForm" (ngSubmit)="createHouse(houseForm)" class="form-group">
        <div class="text-left">
          <label>House's Name</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ngModel name="nameHouse" placeholder="Input your house name...">
        </div>
        <div class="text-left">
          <label>House Category</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ngModel name="categoryHouse" placeholder="Type of house ....">
        </div>
        <div class="text-left">
          <label>Room Category</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ngModel name="categoryRoom"
                 placeholder="Type of room ....">
        </div>
        <div class="text-left">
          <label>Address</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ngModel name="address"
                 placeholder="Address ....">
        </div>
        <div class="text-left">
          <label>Amount Bathroom</label>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" ngModel name="amountBathRoom"
                 placeholder="Bathrooms ....">
        </div>
        <div class="text-left">
          <label>Amount Bedroom</label>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" ngModel name="amountBedRoom"
                 placeholder="Bedrooms ....">
        </div>
        <div class="text-left">
          <label>Price</label>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" ngModel name="price"
                 placeholder="Price ....">
        </div>
        <div class="text-left">
          <label>Description</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ngModel name="description"
                 placeholder="Description ....">
        </div>
        <div class="text-left">
          <label>Image Link</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ngModel name="imgUrls"
                 placeholder="Image Link ....">
        </div>
        <input type="submit" class="btn btn-success mr-2" value="Create">
        <button type="button" class="btn btn-warning " routerLink="">Cancel</button>
      </form>
    </div>
  </div>
</div>
