<footer class="mt-3">
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <hr class="light">
        <h3>Lê Hoàng Thiên Phong</h3>
        <hr class="light">
        <p>0359813619</p>
        <p>chopperlouis@gmail.com</p>
        <p>55/255 Cầu Giấy</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h3>Đào Như Anh</h3>
        <hr class="light">
        <p>0359813619</p>
        <p>chopperlouis@gmail.com</p>
        <p>55/255 Cầu Giấy</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h3>Trần Quốc Sang</h3>
        <hr class="light">
        <p>0359813619</p>
        <p>chopperlouis@gmail.com</p>
        <p>55/255 Cầu Giấy</p>
      </div>
      <div class="col-12">
        <hr class="light-100">
        <h5>&copy; Louis</h5>
      </div>
    </div>
  </div>
</footer>
