<div class="row container-fluid mt-3 ml-1" >
  <div class="col-2 test">Hello</div>
  <div class="card text-center register col-lg-8 " style="background: lightgoldenrodyellow !important;">
    <div class=" text-center mt-2">
      <h2>Register</h2>
    </div>
    <div class="card-body">
      <!-- Login-->
      <form [formGroup]="registerForm" >
        <div class="text-left">
          <label>Username</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="username" id="exampleInputEmail1"
                 aria-describedby="emailHelp"
                 placeholder="Enter email">
        </div>
        <div class="text-left">
          <label>Password</label>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1"
                 placeholder="Password">
        </div>
        <div class="text-left">
          <label>First Name</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="firstName" id="exampleInputFirstName"
                 placeholder="First Name">
        </div>
        <div class="text-left">
          <label>Last Name</label>
        </div>
        <div class="form-group">
          <input type="txt" class="form-control" formControlName="lastName" id="exampleInputLastName"
                 placeholder="Last Name">
        </div>
        <div class="text-left">
          <label>Email</label>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" formControlName="email" id="exampleInputEmail"
                 placeholder="Email">
        </div>
        <button type="button" class="btn btn-success nutPhai mr-2" routerLink="register">Register</button>
        <button type="button" class="btn btn-warning nutPhai" routerLink="">Cancel</button>
      </form>
    </div>
  </div>
</div>
