.detail {
  border: 5px lightgreen solid;
  border-radius: 5px;
  background: lightgoldenrodyellow;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#carouselExampleCaptions1 img {
  border-radius: 53px 5px 64px 5px;
  -moz-border-radius: 53px 5px 64px 5px;
  -webkit-border-radius: 53px 5px 64px 5px;
  border: 0px solid #000000;
}
@import url('https://fonts.googleapis.com/css?family=Concert+One|Great+Vibes&display=swap');
.detail h3, .about{
  font-family: Concert One;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,128,0,0.65);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,128,0,0.65);
  box-shadow: 10px 10px 5px 0px rgba(0,128,0,0.65);
  border-left: 3px solid rgba(0,128,0,0.15);
  border-top: 3px solid rgba(0,128,0,0.15);
  border-bottom-right-radius: 30px;
}
.detail h2 {
  font-family: Great Vibes;
  text-shadow: 3px 2px rgba(0,128,0,0.5);
}
i{
  text-shadow: 3px 2px rgba(0,128,0,0.3);
}
.about p{
  font-family: Concert One;
}
