<div class="row m-3 detail">
  <div class="col-md-8">
    <img width="100%" src="{{house.imageUrls}}" class="imgProduct">

  </div>
  <div class="col-md-4">
    <div class="order-in-detail">
      <div class="m-3">
        <b><h2>{{house.nameHouse}}</h2></b>
        <p><b>100$</b>/đêm</p>
      </div>
    </div>
    <div class="info-house mt-3">
      <div class="m-3">
        <p>Chu nha: {{house.hostName}}</p>
        <p>Địa chỉ: {{house.address}}</p>
        <p>Số lượng phòng tắm: {{house.amountBathRoom}}</p>
        <p>Số lượng phòng ngủ: {{house.amountBedRoom}}</p>
        <p>Mô tả: {{house.description}}</p>
      </div>
    </div>
    <a class="btn btn-danger" [routerLink]="['/user/house/edit-house', house.id]">
      Edit House
    </a>
  </div>
</div>
