<div class="row">
  <div class="col-lg-4 mb-2" *ngFor="let i of listHouse">
    <div class="card">
      <img
        src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/p720x720/56177139_2209239962672504_8512926000181411840_o.jpg?_nc_cat=108&_nc_eui2=AeFuuEWf6x6LW0U2g_fFJX3r_CjIlpXJuHrdms-_2ZWQPNVR1bDX-vH_uHKKCMUNfaV2ip_BZhH56-Fi3gTam73Dz_Un2NxJ4D9-U26Z3LHU5A&_nc_ohc=DC_RcoZ-bLUAQke8zackY23huBGknX67ZsAR_fZVynqq2pZ6qcopBzX0Q&_nc_ht=scontent.fhan4-1.fna&oh=a4f6cabbb89dae09478fb23b95dbbcee&oe=5E84938E"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
</div>
