<form novalidate
      [formGroup]="form">
  <h3>Bộ lọc </h3>
  <div class="row">
    <div class="col-md-6">
      <input type="text"
             formControlName="nameHouse"
             class="form-control"
             placeholder="Tên nhà "/>
    </div>
    <div class="col-md-6">
      <input type="text"
             formControlName="address"
             class="form-control"
             placeholder="Địa chỉ "/>
    </div>
    <div class="col-md-6">
      <input type="text"
             formControlName="amountBathRoom"
             class="form-control"
             placeholder="Số phòng tắm "/>
    </div>
    <div class="col-md-6">
      <input type="text"
             formControlName="amountBedRoom"
             class="form-control"
             placeholder="Số phòng "/>
    </div>
<!--    <div class="col-md-6 col-sm-6">-->
<!--      <select ngDefaultControl class="form-control" formControlName="level">-->
<!--        <option value=""> Level</option>-->
<!--        <option [ngValue]="level" *ngFor="let level of levels">{{level}}</option>-->
<!--      </select>-->
<!--    </div>-->
    <div class="col-md-6">
      <input type="text"
             formControlName="pricefrom"
             class="form-control"
             placeholder="Giá từ "/>
    </div>
    <div class="col-md-6">
      <input type="text"
             formControlName="priceto"
             class="form-control"
             placeholder="đến "/>
    </div>
    <div class="col-md-12 col-sm-12">
      <button class="btn btn-primary float-right"
              (click)="search(form.value)">Search
      </button>
    </div>
  </div>
