<form novalidate
      [formGroup]="form">
  <h3>Group Filter</h3>
  <div class="row">
    <div class="col-md-6">
      <input type="text"
             formControlName="nameHouse"
             class="form-control"
             placeholder="Name House"/>
    </div>
    <div class="col-md-6">
      <input type="text"
             formControlName="address"
             class="form-control"
             placeholder="Address"/>
    </div>
    <div class="col-md-6">
      <input type="text"
             formControlName="amountBathRoom"
             class="form-control"
             placeholder="Amount BathRoom"/>
    </div>
    <div class="col-md-6">
      <input type="text"
             formControlName="amountBedRoom"
             class="form-control"
             placeholder="Amount Bedroom"/>
    </div>
<!--    <div class="col-md-6 col-sm-6">-->
<!--      <select ngDefaultControl class="form-control" formControlName="level">-->
<!--        <option value=""> Level</option>-->
<!--        <option [ngValue]="level" *ngFor="let level of levels">{{level}}</option>-->
<!--      </select>-->
<!--    </div>-->
    <div class="col-md-6">
      <input type="text"
             formControlName="pricefrom"
             class="form-control"
             placeholder="Price from"/>
    </div>
    <div class="col-md-6">
      <input type="text"
             formControlName="priceto"
             class="form-control"
             placeholder="Price to"/>
    </div>
    <div class="col-md-12 col-sm-12">
      <button class="btn btn-primary float-right"
              (click)="search(form.value)">Search
      </button>
    </div>
  </div>
