<nav class="navbar navbar-expand-lg navbar-light bg-light menu fixed-top">
  <a class="navbar-brand" href="">SPA Stay</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background: white !important;">
    <span class="navbar-toggler-icon" style="color: white !important;"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href=""> Trang chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="create-house">Tạo mới </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[{ outlets: { carousel: ['carousel'] } }]">Show Second Carousel</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button type="button" class="btn btn-outline-light mr-sm-2 " data-toggle="modal"
              data-target="#exampleModa2">Login</button>
      <button type="button" class="btn btn-outline-light"  data-toggle="modal"
              data-target="#exampleModal">Register</button>
    </form>
  </div>
</nav>
<div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" >
  <div class="modal-dialog" role="document" style="background: white !important; border-radius: 5px; color: white !important;">
    <div class="modal-content">
      <div class="modal-header" style="background: #a5541b !important;">
        <h5 class="modal-title" id="exampleModalLabe2">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3" style="color: black" >
        <form action="">
          <div class="text-left"><label>Username</label></div>
          <div class="form-group"><input type="text" class="form-control"  placeholder="Input anything...."></div>
          <div class="text-left"><label>Password</label></div>
          <div class="form-group"><input type="text" class="form-control"  placeholder="Input anything...."></div>
          <div class="text-center">
            <button type="button" class="btn btn-outline-secondary" routerLink="">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" >
  <div class="modal-dialog" role="document" style="background: white !important; border-radius: 5px; color: white !important;">
    <div class="modal-content">
      <div class="modal-header" style="background: #a5541b !important;">
        <h5 class="modal-title" id="exampleModalLabel">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3" style="color: black" >
        <form action="">
          <div class="text-left"><label>Username</label></div>
          <div class="form-group"><input type="text" class="form-control"  placeholder="Input anything...."></div>
          <div class="text-left"><label>Password</label></div>
          <div class="form-group"><input type="text" class="form-control"  placeholder="Input anything...."></div>
          <div class="text-left"><label>First Name</label></div>
          <div class="form-group"><input type="text" class="form-control" placeholder="Input anything...."></div>
          <div class="text-left"><label>Last Name</label></div>
          <div class="form-group"><input type="text" class="form-control" placeholder="Input anything...."></div>
          <div class="text-left"><label>Email</label></div>
          <div class="form-group"><input type="text" class="form-control" placeholder="Input anything...."></div>
          <div class="text-center">
            <button type="button" class="btn btn-outline-secondary" routerLink="">Register</button>
          </div>
        </form>
      </div>
      <!--      <div class="modal-footer">-->
      <!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
      <!--        <button type="button" class="btn btn-primary">Save changes</button>-->
      <!--      </div>-->
    </div>
  </div>
</div>
