/* You can add global styles to this file, and also import other style files */
.register{
  -webkit-box-shadow: 0px 0px 300px 68px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 0px 300px 68px rgba(0,0,0,0.58);
  box-shadow: 0px 0px 300px 68px rgba(0,0,0,0.58);
}
.menu {
  border-radius: 5px;
}

@import url('https://fonts.googleapis.com/css?family=Gupter|Solway&display=swap');
*{
  font-family: Solway;
}
body{
  background: #e5f3ff !important;
}


@media only screen and (max-width: 600px) {
  .login {
    display: none !important;
  }
  .slide {
    margin-top: 30px;
  }
}
