<div class="card mt-2 ml-2 mr-2 login">
  <div class="card">
    <div class="card-header" style="background: #a5541b !important; color: white !important;">
      Login
    </div>
    <div class="card-body" style="background: #ffffff !important;">
      <!-- Login-->
      <form [formGroup]="loginForm">

        <div class="row form-group ml-2 mr-2">
          <input type="text" class="form-control" formControlName="username" id="exampleInputEmail1"
                 aria-describedby="emailHelp"
                 placeholder="Enter email">
        </div>
        <div class="row form-group ml-2 mr-2">
          <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1"
                 placeholder="Password">
        </div>
        <div class="row ml-2 mr-2">
          <button type="submit" class="btn btn-outline-secondary col-lg-5 ml-1  mt-2" (click)="login()">Login</button>
          <button type="button" class="btn btn-outline-danger nutPhai col-lg-5 ml-1  mt-2" data-toggle="modal"
                  data-target="#exampleModal">Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" >
  <div class="modal-dialog" role="document" style="background: white !important; border-radius: 5px; color: white !important;">
    <div class="modal-content">
      <div class="modal-header" style="background: #a5541b !important;">
        <h5 class="modal-title" id="exampleModalLabel">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3" style="color: black" >
        <form action="">
          <div class="text-left"><label>Username</label></div>
          <div class="form-group"><input type="text" class="form-control"  placeholder="Input anything...."></div>
          <div class="text-left"><label>Password</label></div>
          <div class="form-group"><input type="text" class="form-control"  placeholder="Input anything...."></div>
          <div class="text-left"><label>First Name</label></div>
          <div class="form-group"><input type="text" class="form-control" placeholder="Input anything...."></div>
          <div class="text-left"><label>Last Name</label></div>
          <div class="form-group"><input type="text" class="form-control" placeholder="Input anything...."></div>
          <div class="text-left"><label>Email</label></div>
          <div class="form-group"><input type="text" class="form-control" placeholder="Input anything...."></div>
          <div class="text-center">
            <button type="button" class="btn btn-outline-secondary" routerLink="">Register</button>
          </div>
        </form>
      </div>
      <!--      <div class="modal-footer">-->
      <!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
      <!--        <button type="button" class="btn btn-primary">Save changes</button>-->
      <!--      </div>-->
    </div>
  </div>
</div>
