<div class="card mt-3 ml-3 mr-3 login" >
  <div class="card">
    <div class="card-header" style="background: lightgreen !important;">
      Login
    </div>
    <div class="card-body" style="background: lightgoldenrodyellow !important;">
      <!-- Login-->
      <form [formGroup]="loginForm">

        <div class="row form-group ml-2 mr-2">
          <input type="text" class="form-control" formControlName="username" id="exampleInputEmail1" aria-describedby="emailHelp"
                 placeholder="Enter email">
        </div>
        <div class="row form-group ml-2 mr-2">
          <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="row ml-2 mr-2" >
          <button type="submit" class="btn btn-success col-lg-5 ml-2  mt-3" (click)="login()">Login</button>
          <button type="button" class="btn btn-warning nutPhai col-lg-5 ml-2  mt-3" routerLink="register">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
